.Wrapper {
  width: 275px;
  height: 250px;
  margin: 20px 30px 20px 30px;
  background-color: #AFBCC7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Wrapper img {
  height: 170px;
  margin-top: 10px;
}

// .text_style {
//   margin: 10px;
//   padding: 7px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 20px;
//   font-weight: bold;
//   color: whitesmoke; 
//   background-color: #244862;
//   border-radius: 7px;
// }

// .typeBlock_style {
//   width: 25px;
//   background-color: greenyellow;
// }