.ButtonPokemonName{
  border: none; 
  outline: none;
  width: 295px;
  text-align: center;
  position: relative;
  color: #B5B5B5;
  margin: 5px -62px 30px -62px;
  padding: 10px 0;
  text-shadow: 0 1px rgba(0,0,0,.8);
  background: #535353;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-transform: capitalize;
  // background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  // background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  // background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  // background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  // background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  // -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
  // -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.ButtonPokemonName:before, .ButtonPokemonName:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -10px;
}

.ButtonPokemonName:before
{
  border-width: 0 10px 10px 0;
  border-right-color: #3c3434;
  left: 0;
}

.ButtonPokemonName:after
{
  border-width: 0 0 10px 10px;
  border-left-color: #3c3434;
  right: 0;
}


// .backgroundBlock {
//   background-color: red;
// }